<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pizza Details')"></head>
<body>
<div class="container bg-light w-50 h-100 mt-5 text-center">
    <h1 th:text="${pizza.name}" class="text-uppercase m-3"></h1>
    <hr>

     <div class="row">
        <div class="card">
            <img th:src="${pizza.image}" alt="pizza image">
            <div class="card-body">
                <p th:text="${pizza.description}" class="card-text"></p>
                <p th:text="|${pizza.price}€|" class="card-text"></p>
                <a th:href="@{/}" class="btn btn-danger">Menu</a>
            </div>
        </div>
     </div>

    <div class="row">
        <h2>Special Offers</h2>
        <div class="my-3">
            <a class="btn btn-danger" th:href="@{/specialoffers/create(pizzaId=${pizza.id})}">Add
                Special Offer</a>
        </div>


        <table class="table" th:if="${pizza.offers.size() > 0}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Starts</th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="offer : ${pizza.offers}"
                th:classAppend="${offer.isExpired ? 'table-danger' : ''}"
            >

                <td th:text="${offer.title}"></td>
                <td th:text="${offer.startDate}"></td>
                <td th:text="${offer.endDate}"></td>
                <td class="d-flex align-items-center justify-content-end">

                    <a      th:if="${!offer.isExpired}"
                            th:href="@{/specialoffers/edit/{offerId}(offerId=${offer.id})}"
                            class="btn btn-danger me-1"
                    >
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>


                    <form th:action="@{/specialoffers/delete/{offerId}(offerId = ${offer.id})}"
                          method="POST">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info" th:unless="${pizza.offers.size() > 0}">
            There are no special offers yet.
        </div>

    </div>

</div>

</body>
</html>